<section class="section">
  <div class="container">
    <h2 class="title is-2">
    <% if Time.now.hour.between?(4,12) %>
      Good morning,
    <% elsif Time.now.hour.between?(12,17) %>
      Good afternoon,
    <% elsif Time.now.hour > 17 || Time.now.hour < 4 %>
      Good evening,
    <% else %>
      Hello,
    <% end %>
    <%= @user.name %> 👋</h2>
    <br>
    <p><%= link_to edit_user_registration_path do %>
      <span class="icon">
        <i class="fas fa-user-edit"></i>
      </span>
      Edit account information
    <% end %></p>
    <br>
    <% future_host_events = @user.hosted_events.where('date >= ?', Date.today).order(:date) %>
    <h4 class="title is-4">Events you are hosting</h4>
    <div class="columns is-multiline">
      <% if future_host_events.any? %>
        <% future_host_events.each do |event| %>
          <div class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <%= link_to event do %>
                  <figure class="image is-2by1">
                    <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
                  </figure>
                <% end %>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <%= link_to event do %>
                          <strong class="title is-5"><%= event.name %></strong>
                        <% end %>
                        <br>
                        <%= truncate event.description, length: 100 %>
                        <br>
                        <small><%= event.location %> · <%= event.date.try(:strftime, ("%-d/%-m/%y %H:%M")) %></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>You are not hosting any upcoming events. <%= link_to "Create one now!", events_path %></p>
      <% end %>
    </div>
    <br>
    <% future_attend_events = @user.attended_events.where('date >= ?', Date.today).order(:date) %>
    <h4 class="title is-4">Events you are attending</h4>
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <% if future_attend_events.any? %>
          <% future_attend_events.each do |event| %>
            <div class="card">
              <%= link_to event do %>
                <figure class="image is-2by1">
                  <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
                </figure>
              <% end %>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <%= link_to event do %>
                          <strong class="title is-5"><%= event.name %></strong>
                        <% end %>
                        <br>
                        <%= truncate event.description, length: 100 %>
                        <br>
                        <small><%= event.location %> · <%= event.date.try(:strftime, ("%-d/%-m/%y %H:%M")) %></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You are not attending any upcoming events. <%= link_to "Find one now!", events_path %></p>
        <% end %>
      </div>
    </div>
    <br>
    <% past_events = @user.hosted_events.where('date < ?', Date.today).order(:date) + @user.attended_events.where('date < ?', Date.today).order(:date) %>
    <h4 class="title is-4">Past events</h4>
    <div class="columns is-left">
      <div class="column is-one-third">
        <% if past_events.any? %>
          <% past_events.each do |event| %>
            <div class="card">
              <div class="card-image">
                <%= link_to event do %>
                  <figure class="image is-2by1">
                    <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
                  </figure>
                <% end %>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <%= link_to event do %>
                          <strong class="title is-5"><%= event.name %></strong>
                        <% end %>
                        <br>
                        <%= truncate event.description, length: 100 %>
                        <br>
                        <small><%= event.location %> · <%= event.date.try(:strftime, ("%-d/%-m/%y %H:%M")) %></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>You haven't hosted or attended any events yet.</p>
        <% end %>
      </div>
    </div>
  </div>
</section>