<section class="section">
  <div class="container">
    <h2 class="title is-2">
    <% if Time.now.hour.between?(4,12) %>
      Good morning,
    <% elsif Time.now.hour.between?(12,17) %>
      Good afternoon,
    <% elsif Time.now.hour > 17 || Time.now.hour < 4 %>
      Good evening,
    <% else %>
      Hello,
    <% end %>
    <%= @user.name %> 👋</h2>
    <br>
    <p><%= link_to edit_user_registration_path do %>
      <span class="icon">
        <i class="fas fa-user-edit"></i>
      </span>
      Edit account information
    <% end %></p>
    <br>
    <% future_host_events = @user.hosted_events.where('date >= ?', Date.today).order(:date) %>
    <h4 class="title is-4">Events you are hosting</h4>
    <div class="columns is-multiline">
      <% if future_host_events.any? %>
        <% future_host_events.each do |event| %>
          <%= render 'events', event: event %>
        <% end %>
      <% else %>
        <p class="column is-one-third">You are not hosting any upcoming events. <%= link_to "Create one now!", new_event_path %></p>
      <% end %>
    </div>
    <br>
    <% future_attend_events = @user.attended_events.where('date >= ?', Date.today).order(:date) %>
    <h4 class="title is-4">Events you are attending</h4>
    <div class="columns is-multiline">
      <% if future_attend_events.any? %>
        <% future_attend_events.each do |event| %>
          <%= render 'events', event: event %>
        <% end %>
      <% else %>
        <p class="column is-one-third">You are not attending any upcoming events. <%= link_to "Find one now!", events_path %></p>
      <% end %>
    </div>
    <br>
    <% past_events = @user.hosted_events.where('date < ?', Date.today).order(:date) + @user.attended_events.where('date < ?', Date.today).order(:date) %>
    <h4 class="title is-4">Past events</h4>
    <div class="columns is-left">
      <% if past_events.any? %>
        <% past_events.each do |event| %>
          <%= render 'events', event: event %>
        <% end %>
      <% else %>
        <p class="column is-one-third">You haven't hosted or attended any events yet.</p>
      <% end %>
    </div>
  </div>
</section>