<section class="hero">
  <div class="hero-body">
    <p class="title is-2">
      Upcoming Events
    </p>
    <p class="subtitle">
      Find something fun happening near you!
    </p>
  </div>
</section>
<div class="columns is-multiline">
  <% if @events.any? %>
    <% @events.each do |event| %>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <%= link_to event do %>
              <figure class="image is-2by1">
                <img src="https://bulma.io/images/placeholders/640x320.png" alt="Placeholder image">
              </figure>
            <% end %>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <%= link_to event do %>
                      <strong class="title is-4"><%= event.name %></strong>
                    <% end %>
                    <br>
                    <%= event.date.try(:strftime, ("%-d/%-m/%y %H:%M")) %>
                    <br><br>
                    <%= truncate event.description, length: 100 %>
                    <br>
                    <small><%= event.host.name %> · <%= event.location %></small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>