<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-two-thirds">
        <div class="card">
          <div class="card-image">
            <figure class="image image is-3by1">
              <img src="https://bulma.io/images/placeholders/720x240.png">
            </figure>
          </div>
          <div class="card-content">
            <% if current_user == @event.host %>
              <nav class="level">
                <h1 class="title is-2 tight-bottom"><%= @event.name %></h1>
                <div class="level-right is-mobile">
                  <%= link_to edit_event_path(@event), class: "level-item" do %>
                    <span class="icon"><i class="fa fa-pencil-alt" aria-hidden="true"></i></span>
                  <% end %>
                  <%= link_to @event, method: :delete, data: { confirm: "Are you sure you want to delete your event?" } do %>
                    <span class="icon"><i class="far fa-trash-alt" aria-hidden="true"></i></span>
                  <% end %>
                </div>
              </nav>
            <% else %>
              <h1 class="title is-2"><%= @event.name %></h1>
            <% end %>
            <div class="media">
              <div class="media-content">
                <label class="label">About this event</label>
                <p><%= simple_format(@event.description) %></p>
                <br>
                <p class="control">
                  <% if !user_signed_in? %>
                    <p><%= link_to 'Sign up', new_user_registration_path%> or <%= link_to 'sign in', 
                      new_user_session_path %> to join this event!</p>
                  <% elsif @event.host == current_user %>
                    <p class="has-text-primary">You are hosting this event! 🎉</p>
                  <% elsif !current_user.attended_events.include?(@event) %>
                    <%= simple_form_for(@signup) do |f| %>
                      <%= f.hidden_field :event_attendee_id, :value => current_user.id %>
                      <%= f.hidden_field :attended_event_id, :value => @event.id %>
                      <%= button_tag type: 'submit', class: "button is-info" do %>
                        <span class="icon"><i class="fas fa-calendar-plus"></i></span>
                        <p>Join event</p>
                      <% end %>
                    <% end %>
                  <% else %>
                    <p class="has-text-primary">You are attending this event! 🎉</p>
                    <br>
                    <% current_signup = Signup.where(event_attendee_id: current_user, attended_event_id: @event) %>
                    <%= link_to current_signup.first, method: :delete, class: "button is-info", data: { confirm: 'Are you sure?' } do %>
                      <span class="icon"><i class="fas fa-calendar-minus"></i></span>
                      <span>Cancel reservation</span>
                    <% end %>
                  <% end %>
                </p>
              </div>
              <div class="media-right">
                <p><label class="label">Hosted by</label><%= @event.host.name %></p>
                <br>
                <p><label class="label">Date and time</label><%= @event.date.try(:strftime, ("%-d/%-m/%y %H:%M")) %></p>
                <br>
                <p><label class="label">Location</label><%= @event.location %></p>
              </div>
            </div>
          </article>
        </div>
			</div>
      <br>
      <div class="card">
        <% if @event.attendees.any? %>
          <div class="card-content">
            <div class="content is-medium tight-bottom"><strong>Attendee List</strong></div>
            <div class="content">
              <div class="columns is-multiline">
                <div class="column is-two-thirds">
                  <ul>
                    <% @event.attendees.each do |attendee| %>
                      <li><%= attendee.name %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="card-content">
            <div class="content is-medium"><strong>Attendee List</strong></div>
            <% if current_user == @event.host %>
              <p>No one has signed up to your event yet. 😔 Time to share with friends!</p>
            <% else %>
              <p>No one has signed up to this event yet. 😔 Be the first!</p>
            <% end %>
          </div>
        <% end %>
      </div>
		</div>
	</div>
</section>